<div class="grid images">
  {{#each currentOutfit.images as |image index|}}
    <div class="col-xs-3 selectable">
      <div class="image">
        {{#if imageSelectionMode}}
          {{#if image.isSelected}}
              <div class="selectable-mask selected" {{action 'toggleImageSelection' image}}></div>
          {{else}}
              <div class="selectable-mask" {{action 'toggleImageSelection' image}}></div>
          {{/if}}
        {{/if}}

        {{#press-recognizer  onZonePressed=(action "imagePressed" image)}}
            <img src= {{concat "data:image/jpeg;base64," image.Base64Content}}
                         class= {{concat currentOutfit.id '-image-' index}} {{action 'viewImage' currentOutfit index}}>
        {{/press-recognizer}}
      </div>
    </div>
  {{/each}}
</div>

{{#if imageSelectionMode}}
  {{#paper-button primary=true class="imagesDeletionDialog" raised=true onClick=(action "openConfirmation" "removeImages" ".imagesDeletionDialog")}}Remove images{{/paper-button}}
{{/if}}