{{#unless newTagForm}}
 <div class="tags grid">
    {{#each tags as |tag|}}
      <div class="col-xs-6 col-sm-4">
      {{#link-to 'tags.show' tag tagName="div" class="tag box-shadow-4"}}
        <h3>{{tag.name}}</h3>
      {{/link-to}}
      </div>
    {{/each}}
  </div>
  {{#paper-button raised=true fab=true primary=true onClick=(action 'addNewTag')}}{{paper-icon 'add'}}{{/paper-button}}
  {{else}}
    {{#paper-form onSubmit=(action "saveTag" newTag) as |form|}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}{{newTag.name }}{{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content}}
          {{form.input label="Name" type="string" value=newTag.name onChange=(action (mut newTag.name))}}
        {{/card.content}}
        {{#card.actions class="layout-row layout-align-start-center" as |actions|}}
          {{#paper-button onClick=(action form.onSubmit)}}Save{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
    {{/paper-form}}
{{/unless}}
